<style>
 .center {
   margin: 20em auto;
   width: 400px;
 }

 /*Change the size here*/
 div.tolltip-inner {
     max-width: 350px;
 }
</style>

<hr>
<% if @dados_monitor %>
  <table id="example" class="table">
  <thead class="grey lighten-2"">
     <tr>
       <th>Data/Hora Acesso</th>
       <th>SID Oracle</th>
       <th>Usuário Oracle</th>
       <th>Insância</th>
       <th>Servidor</th>
       <th>Estação</th>
	   <th>Comp PAI</th>
       <th>Componente</th>
    </tr>
  </thead>
  <tbody>
    <% @dados_monitor.each do |dados| %>
         <tr>
            <td><%= dados[:data_hora] %> </td>
            <td><%= dados[:sid] %></td>
            <td><%= dados[:user] %> </td>
            <td><%= dados[:inst_oracle] %> </th>
            <td><%= dados[:servidor] %> </td>
            <td><%= dados[:estacao] %> </td>
			<td><%= dados[:componente_pai] %> </td>
            <td><%= dados[:componente] %> </td>
         </tr>
     <% end %>
  </tbody>
  </table>
<% end %>

<div id="show-codigo" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>

<div id="show-documentacao" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>

<script>
	$(document).ready(function() {
	    var table = $('#example').dataTable( {
          dom: 'lBfrtip',
	        lengthChange: true,
          "lengthMenu": [ [15, 30, 60, -1], [15, 30, 60, "All"] ],
          pageLength: 50,
	        buttons: [ 'copy', 'excel', 'csv', 'pdf', 'colvis' ],
          language: {
              "sEmptyTable": "Nenhum registro encontrado",
              "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
              "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
              "sInfoFiltered": "(Filtrados de _MAX_ registros)",
              "sInfoPostFix": "",
              "sInfoThousands": ".",
              "sLengthMenu": "_MENU_ resultados por página",
              "sLoadingRecords": "Carregando...",
              "sProcessing": "Processando...",
              "sZeroRecords": "Nenhum registro encontrado",
              "sSearch": "Pesquisar",
              "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
               },
               buttons: {
                    colvis: 'Visibilidade Campos'
               },
              "oAria": {
                   "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
              }
          }
	    });

      //$('select').selectpicker();
	 
	    //table.buttons().container()
	    //    .appendTo( '#example_wrapper .col-md-6:eq(0)' );
	} );
</script>