<style>
  @media (min-width: 780px){
    .modal-xl{
      width: 90%;
      max-width:1200px;
    }
  }
</style>

<%= form_tag funcaos_path, method: :get, id: "funcaos_search", role: "form" do %>
  <h4 class="text-primary"><center>Funções</center></h4>
  <div class="row">
    <div class="col-sm-5">
      <div class="input-group">
         <%= label_tag :cd_empresa, "Selecione a Empresa:" %>
      </div>
    </div>
     <div class="col-sm-7">
       <div class="input-group">
           <%= label_tag :keywords, "Texto para a busca:" %>
       </div>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-5">
        <%= select_tag "cd_empresa",
             options_for_select([ ['Coamo Desenv', 1], ['Coamo Prod', 2], ['Credi Desenv', 3], ['Credi Prod', 4], ['Credi Contab Prod', 5]], 
             selected: (params[:cd_empresa].present? ? params[:cd_empresa] : 1)), 
             class: "form-control" %>
     </div>
     <div class="col-sm-7">    
         <%= text_field_tag :keywords, (params[:keywords].present? ? params[:keywords] : nil), class: "form-control" %>
     </div>

  </div>
  <br>
  <div class="row">
     <div id="mouseon-erro_ortografia">
     <div class="col-sm-3">
        <div class="input-group">
           <%= label_tag :erro_ortografia, "Considerar erro ortográfico?" %>
        </div>
     </div>
     </div>
     <div class="col-sm-2">
         <%= label_tag :operator_field, "Operador:" %>
     </div>
     <div class="col-sm-2">
         <%= label_tag :match_field, "Buscar Palavra:" %>
     </div>
     <div class="col-sm-5">    
       <%= label_tag :fields, "Considerar a busca somente pelo(s) campo(s):" %>
     </div>

  </div>
  <div class="row">
     <div class="col-sm-3">
        <%= select_tag :erro_ortografia,
               options_for_select([ ['Sim', 'true'], ['Não', 'false'] ], 
               selected: (params[:erro_ortografia].present? ? params[:erro_ortografia] : 'and')), 
               class: "selectpicker form-control" %>
     </div>
     <div class="col-sm-2">
        <%= select_tag :operator_field,
               options_for_select([ ['OR', 'or'], ['AND', 'and'], ['LIKE', 'like'] ], 
               selected: (params[:operator_field].present? ? params[:operator_field] : 'and')), 
               class: "selectpicker form-control" %>
     </div>
     <div class="col-sm-2">
        <%= select_tag :match_field,
               options_for_select([ ['Palava Inteira', 'word'], ['Meio Palavra', 'word_middle'] ], 
               selected: (params[:match_field].present? ? params[:match_field] : 'word_middle')), 
               class: "selectpicker form-control" %>
     </div>
    <div class="col-sm-5">    
      <%= select_tag "fields",
                    options_for_select([ ['Campo', :nm_campo], 
                                         ['Conteúdo Entry/Operation/Trigger/Include', :codigo],
                                         ['Documentação', :documentacao],
                                         ['Nome Componente', :cd_componente],
                                         ['Nome Entry/Operation/Trigger/Include', :nm_funcao],
                                         ['Tabela', :nm_tabela],
                                         ['Tipo Função', :tipo],
                                         ['Todos', '*']], 
                    selected: (params[:fields].present? ? params[:fields] : :codigo)),
                    onchange: "changeBuscarPalavra()", 
                    class: "selectpicker form-control",
                    multiple: true %>
    </div>

  </div>
  </br>
  <center> <%= submit_tag "Procurar", :name => nil, class: "btn btn-primary btn-block" %></center>
  <div id="funcaos"><%= render 'funcaos' %> </div>
<% end %>
<script>
  $(document).on('turbolinks:load', function() {
     $(window).trigger('load.bs.select.data-api');
  });
  function changeBuscarPalavra(){
    //Dizendo para o event (submit) não executar o seu comportamento padrão
    //event.preventDefault()
    let fieldSel = [];
    fieldSel = document.querySelector("select[id='fields']").value
    if (fieldSel == "cd_componente"){
      $('select[name=match_field]').val("word");
      $('.selectpicker').selectpicker('refresh');
    }else{
      $('select[name=match_field]').val("word_middle");
      $('.selectpicker').selectpicker('refresh');
    }
  }
  $(function() {
			// mouse-on example
			var mouseOnDiv = $('#mouseon-erro_ortografia div');
			var tipContent = $(
				'<p><b>Se estiver marcado como "Não considerar erro ortográfico",</b></p>' +
				'<p><b>Se a procura for pelo termo "zuchini", a palavra zucchini não será encontrada!</b></p>' 
			);
			mouseOnDiv.data('powertipjq', tipContent);
			mouseOnDiv.powerTip({
				placement: 'e',
				mouseOnToPopup: true
			});
		});

</script>