<style>
  @media (min-width: 780px){
    .modal-xl{
      width: 90%;
      max-width:1200px;
    }
  }
</style>
 <div class="container">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <br>
   <%= form_tag painel_index_path, method: :get, id: "painel_search", role: "form" do %>
     <div class="row">
       <div class="col-sm-5">
          <div class="input-group">
           <%= label_tag :cd_empresa, "Selecione a Empresa:" %>
         </div>
       </div>
       <div class="col-sm-3">
          <div id="mouseon-datas">
            <div class="input-group">
                <%= label_tag :ouser_oracle, "Data Inicial:" %>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="mouseon-datas">
            <div class="input-group">
              <%= label_tag :ouser_oracle, "Data Final:" %>
            </div>
          </div>
        </div>
     </div>
     <div class="row">
       <div class="col-sm-5">
         <% if Rails.env == 'development' %>
           <%= select_tag "cd_empresa", options_for_select([ ['Coamo Prod', 1], ['Credi Prod', 4]], selected: (params[:cd_empresa].present? ? params[:cd_empresa] : 1)), class: "form-control" %>
         <% else %>
           <%= select_tag "cd_empresa", options_for_select([ ['Coamo Prod', 2], ['Credi Prod', 4]], selected: (params[:cd_empresa].present? ? params[:cd_empresa] : 1)), class: "form-control" %>
         <% end %>
       </div>
       <div class="col-sm-3">
           <div class="input-group"> 
              <%= datetime_field_tag :data_inicial, (params[:data_inicial].present? ? params[:data_inicial] : nil), class: "form-control" %>
           </div>
        </div>
        <div class="col-sm-3">
           <div class="input-group">
            <%= datetime_field_tag :data_final, (params[:data_final].present? ? params[:data_final] : nil), class: "form-control" %>
           </div>
        </div>
     </div>
     <br>
     <button class="btn btn-primary btn-block" type="submit">Procurar</button>
     <br>
   <% end %>
</div>
<%= render 'total_linhas_por_tipo' unless @tot_linhas_por_tipo.nil? %>
<%= render 'total_objetos_de_implementacao' unless@total_objetos_de_implementacao.nil? %>
<%= render 'total_objetos_de_impl_modelo' unless@total_objetos_de_impl_modelo.nil? %>
<%#= render 'total_linhas_por_modelo' unless @tot_linhas_por_modelo.nil? %>
<%= render 'total_comps_por_dia' unless @tot_comps_por_dia.nil? %>

<br>
<br>
<br>
<script>
$(function() {
			// mouse-on example
			var mouseOnDiv = $('#mouseon-datas div');
			var tipContent = $(
				'<p><b>Use as Datas Inicial e Final para mostrar o gráfico de "Total Componentes Atualizados/DIA".</b></p>'
			);
			mouseOnDiv.data('powertipjq', tipContent);
			mouseOnDiv.powerTip({
				placement: 'e',
				mouseOnToPopup: true
			});
		});
</script>